/*Centre les formulaires*/
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    }
/* Pour les formulaires avec champs consécutifs : */
.form-group {
    margin-bottom: 15px;
    align-items: center ;
    justify-content: center;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input, .form-group select {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
}
